.header-sidebar__dashboard
  &+main
    &>.container
      width: 100%
      height: auto
      max-width: 1040px
      padding-top: 30px
      padding-bottom: 30px
      display: grid
      align-items: center
      align-content: center
    @media (min-width: 768px)
      padding-left: 205px !important
    @media (min-width: 1600px)
      padding-left: 255px !important