.header-sidebar__dashboard
  &+main
    @media (min-width: 768px)
      padding-left: 205px !important
    @media (min-width: 1600px)
      padding-left: 255px !important


.contacts
  .dashboard-section__header
    padding-bottom: 35px
  .dashboard-section__list li
    &::before
      display: none