.form__company
	width: 100%
	height: auto
	display: grid
	gap: 25px
	@media (min-width: 1080px)
		grid-auto-flow: row dense
		grid-template-columns: repeat(3, 1fr)
		align-content: start

	.input__label,
	.select__label
		width: auto
		display: grid
		align-content: end
		gap: 8px
		position: relative
		cursor: auto
		input,
		.wrap-select
			.custom-select
				padding-right: 55px
				&::before,
				&::after
					right: 32px
			&+.btn--edit
				width: 32px
				height: 48px
				position: absolute
				bottom: 0
				right: 0
				z-index: 1
		input
			padding: 10px 35px 10px 16px

	.input__title,
	.select__title
		line-height: 1
		font-size: 14px
		font-weight: 500

	button[type="submit"]
		width: 100%
		height: 48px
		font-size: 16px
		font-weight: 700
		align-self: end
		@media (min-width: 1080px)
			position: absolute
			bottom: 0
			left: 0

	.input__desc
		width: auto
		height: 85px
		display: flex
		align-items: center
		// flex-flow: wrap
		gap: 23px
		.img__wrap
			width: 74px
			height: 85px
			display: flex
			align-items: center
			justify-content: center
			flex-shrink: 0
			background: rgba(196, 196, 196, 0.35)
			border-radius: 5px
			position: relative
			&::before
				content: ''
				width: 25px
				height: 23px
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				background: url("data:image/svg+xml,%3Csvg width='25' height='23' viewBox='0 0 25 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.87508 0.416626L6.66383 2.83329H2.83341C1.50425 2.83329 0.416748 3.92079 0.416748 5.24996V19.75C0.416748 21.0791 1.50425 22.1666 2.83341 22.1666H22.1667C23.4959 22.1666 24.5834 21.0791 24.5834 19.75V5.24996C24.5834 3.92079 23.4959 2.83329 22.1667 2.83329H18.3363L16.1251 0.416626H8.87508ZM12.5001 18.5416C9.16508 18.5416 6.45842 15.835 6.45842 12.5C6.45842 9.16496 9.16508 6.45829 12.5001 6.45829C15.8351 6.45829 18.5417 9.16496 18.5417 12.5C18.5417 15.835 15.8351 18.5416 12.5001 18.5416Z' fill='%23C2C9D1' fill-opacity='0.41'/%3E%3C/svg%3E%0A") no-repeat center
			img
				width: 100%
				height: 100%
				object-fit: cover

		p
			font-size: 10px
			line-height: 13px
			margin: 0
			padding: 0

.form__col
	width: 100%
	height: auto
	display: grid
	gap: 25px
	align-items: start
	align-content: start
	position: relative
	@media (min-width: 560px) and (max-width: 767px)
		grid-auto-flow: row dense
		grid-template-columns: repeat(2, 1fr)
		align-content: space-between
	@media (min-width: 810px) and (max-width: 1079px)
		grid-auto-flow: row dense
		grid-template-columns: repeat(2, 1fr)
		align-content: space-between

.select__label
	.btn--edit
		z-index: 11 !important

input
	width: 100%
	height: 48px
	padding: 13px 16px
	display: flex
	flex-direction: row
	align-items: center
	background: #fff
	border: 1px solid rgba(17, 17, 19, 0.2)
	border-radius: 4px
	padding: 10px 16px
	font-size: 16px
	line-height: 1.4
	transition: .2s
	// &::placeholder
	// 	color: $grey
	&:focus
		filter: drop-shadow(0 0 2px rgba(17, 17, 19, 0.2))
	// &:valid
	// 	border-color: $green
	&:invalid
		color: rgba(234, 67, 53, 1)
		border-color: rgba(234, 67, 53, 1)
	&:disabled
		background: rgba(0, 0, 0, 0.02)
		&::placeholder
			color: $grey

.wrap-select
	&:focus-within
		filter: drop-shadow(0 0 2px rgba(17, 17, 19, 0.2))

label.chbx__label
	cursor: pointer
	display: flex
	align-items: center
	line-height: 1
	gap: 8px
input[type="checkbox"]
	display: none
	&+.chbx
		width: 21px
		height: 21px
		display: block
		object-fit: cover
		transition: .2s
		background: #fff
		border: 2px solid $grey
		border-radius: 2px
		position: relative
		&::after
			content: ''
			position: absolute
			top: 45%
			left: 25%
			width: 5px
			height: 9px
			transform: rotate(45deg) translate(-50%, -50%)
			border-right: 2px solid #fff
			border-bottom: 2px solid #fff
			z-index: 2
	&:checked
		&+.chbx
			background: $green
			border-color: $green
			&+.tags__color + .tags__title + .tags__name
				color: $green
	&:disabled
		&+.chbx
			&::after
				display: none
				background: rgba(0, 0, 0, 0.02)
				border-color: rgba(0, 0, 0, 0.1)
			&+.tags__color + .tags__title + .tags__name,
			&+.chbx__title
				color: $grey

label.radio__label
	cursor: pointer
	display: flex
	align-items: center
	line-height: 1
	gap: 8px
input[type="radio"]
	display: none
	&+.radio
		width: 18px
		height: 18px
		display: block
		object-fit: cover
		transition: .2s
		background: #fff
		border: 2px solid $grey
		border-radius: 50%
		position: relative
		&::after
			content: ''
			position: absolute
			top: 50%
			left: 50%
			width: 8px
			height: 8px
			transform: translate(-50%, -50%)
			border-radius: 50%
			z-index: 2
	&:checked
		&+.radio
			border-color: $green
			&::after
				background: $green
	&:disabled
		&+.radio
			border-color: rgba(0, 0, 0, 0.1)
			&+.radio__title
				color: $grey

/*** CUSTOM SELECT STYLES ***/
// Vars
$main-col: $grey

.wrap-select
	width: 100%
	position: relative
	cursor: pointer
	display: inline-block
	margin-right: 1rem
	text-align: left
	z-index: 5
	&:last-of-type
		margin-right: 0

select
	position: absolute
	top: 0
	left: 0
	opacity: 0

.custom-select
	width: 100%
	height: 48px
	padding: 13px 16px
	display: flex
	flex-direction: row
	align-items: center
	background: #fff
	border: 1px solid rgba(17, 17, 19, 0.2)
	border-radius: 4px
	position: relative
	overflow: hidden
	&::before
		content: ''
		position: absolute
		bottom: 50%
		right: 0.5rem
		border: 7px solid transparent
		transition: .3s
		margin-bottom: -11px
		border-top-color: $main-col
		transform: rotate(0deg)

	&.active
		&::before
			margin-bottom: -3px
			transform: rotate(180deg)

.custom-select-items
	display: none
	position: absolute
	top: 100%
	left: 0
	z-index: 2
	width: 100%
	margin: 0
	padding: 0
	background: #fff
	color: #000
	border: 1px solid rgba(17, 17, 19, 0.2)
	border-top: 1px solid transparent
	border-radius: 0 0 4px 4px
	li
		list-style: none
		margin: 0
		padding: 0.5rem 1rem
		transition: .2s
		&:hover,
		&.active
			background: lighten($main-col, 25%)
			// color: #fff
