header
  position: absolute
  top: 0
  left: 0

.header__authorization
  border-bottom: 1px solid rgba(176, 176, 176, 1)
  transition: .3s
  background: url(../images/dist/white-paper-texture-background.jpg)
  height: 75px
  transition: .2s
  z-index: 999
  &.open
    height: 252px
    box-shadow: 33.32px 35.4825px 69.496px rgba(32, 32, 35, 0.19)

  .container
    padding: 25px 30px
    position: relative
  &+main
    margin-top: 75px


  .header__top
    display: grid
    grid-auto-flow: column
    align-items: center
    justify-content: space-between
    // z-index: 1
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 70px
      background: url(../images/dist/white-paper-texture-background.jpg)

  .logo
    font-size: 30px
    padding-left: 22px
    &::before
      width: 32px
      height: 32px
      top: -9px
      left: 0

  .menu
    width: 100%
    height: auto
    margin-top: 18px
    display: grid
    align-items: center
    justify-content: center
    gap: 15px
    transition: .1s
    z-index: -100
    opacity: 0
    visibility: hidden
  &.open
    .menu
      opacity: 1
      z-index: 0
      visibility: visible

  .header__enter
    width: 190px
    height: 57px
    padding-left: 57px
    position: relative
    display: flex
    align-items: center
    justify-content: center
    gap: 3px
    font-size: 14px
    font-weight: 600
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 0
      width: 57px
      height: 57px
      transform: translateY(-50%)
      background: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.5 4.75C15.39 4.75 4.75 15.39 4.75 28.5C4.75 41.61 15.39 52.25 28.5 52.25C41.61 52.25 52.25 41.61 52.25 28.5C52.25 15.39 41.61 4.75 28.5 4.75ZM28.5 11.875C32.4425 11.875 35.625 15.0575 35.625 19C35.625 22.9425 32.4425 26.125 28.5 26.125C24.5575 26.125 21.375 22.9425 21.375 19C21.375 15.0575 24.5575 11.875 28.5 11.875ZM28.5 45.6C22.5625 45.6 17.3138 42.56 14.25 37.9525C14.3212 33.2263 23.75 30.6375 28.5 30.6375C33.2262 30.6375 42.6787 33.2263 42.75 37.9525C39.6862 42.56 34.4375 45.6 28.5 45.6Z' fill='%23C2C9D1'/%3E%3Cpath d='M28.5 4.75C15.39 4.75 4.75 15.39 4.75 28.5C4.75 41.61 15.39 52.25 28.5 52.25C41.61 52.25 52.25 41.61 52.25 28.5C52.25 15.39 41.61 4.75 28.5 4.75ZM28.5 11.875C32.4425 11.875 35.625 15.0575 35.625 19C35.625 22.9425 32.4425 26.125 28.5 26.125C24.5575 26.125 21.375 22.9425 21.375 19C21.375 15.0575 24.5575 11.875 28.5 11.875ZM28.5 45.6C22.5625 45.6 17.3138 42.56 14.25 37.9525C14.3212 33.2263 23.75 30.6375 28.5 30.6375C33.2262 30.6375 42.6787 33.2263 42.75 37.9525C39.6862 42.56 34.4375 45.6 28.5 45.6Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E%0A") no-repeat
    &__link
      color: #000
      text-decoration: none
      
  .btn-call
    padding: 15px 20px
    background: $green
    color: #fff
    font-size: 16px
    font-weight: bold
    border-radius: 5px
    border: none
    cursor: pointer

  .local
    width: auto
    margin: 0 auto
    details
      width: 43px
      font-size: 15px
      font-weight: 700
      cursor: pointer
      &[open]
        & > summary::before
          transform: rotate(90deg)
          top: calc(50% - 3px)
          right: 2px
      summary
        position: relative
        list-style: none
        &::marker,
        &::-webkit-details-marker
          display: none !important

        &::before
          content: ''
          position: absolute
          right: 0
          top: 50%
          transform: translateY(-50%)
          border: 5px solid transparent
          border-left: 6px solid #000