header
  position: absolute
  top: 0
  left: 0


.header__authorization,
.header__landing
  border-bottom: 1px solid rgba(176, 176, 176, 1)
  transition: .3s
  background: url(../images/dist/white-paper-texture-background.jpg)
  height: 75px
  transition: .2s
  z-index: 999
  &.open
    height: 252px
    box-shadow: 33.32px 35.4825px 69.496px rgba(32, 32, 35, 0.19)
  // @media (min-width: 768px)
    

  .container
    max-width: 1200px
    padding: 25px 30px
    padding-top: 18px
    padding-right: calc(30px - 7px)
    position: relative
    @media (min-width: 768px)
      padding: 9px 45px
      padding-right: calc(45px - 7px)
      display: grid
      grid-auto-flow: column
      align-items: center
      justify-content: space-between
  &+main
    margin-top: 75px


  .header__top
    width: 100%
    height: 100%
    display: grid
    grid-auto-flow: column
    align-items: center
    justify-content: space-between
    // z-index: 1
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 70px
      background: url(../images/dist/white-paper-texture-background.jpg)
      z-index: -1
    @media (min-width: 768px)
      &::before
        display: none

  .logo
    font-size: 30px
    padding-left: 22px
    &::before
      width: 32px
      height: 32px
      top: -9px
      left: 0

  .menu
    width: 100%
    height: auto
    margin-top: 18px
    display: grid
    align-items: center
    justify-content: center
    gap: 15px
    transition: .1s
    z-index: -100
    opacity: 0
    visibility: hidden
    @media (min-width: 768px)
      opacity: 1
      z-index: 0
      visibility: visible
      grid-auto-flow: column
      gap: 25px
      margin: 0
    &__list
      list-style: none
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      gap: 16px
    &__item
      line-height: 1
      font-weight: 600
      font-size: 18px
      a
        font-size: 18px
        font-weight: 600
        text-transform: lowercase
        color: #000
        &:hover,
        &.active
          color: $green

  &.open
    .menu
      opacity: 1
      z-index: 0
      visibility: visible

  .phone
    position: relative
    padding-left: 30px
    white-space: nowrap
    font-size: 18px
    font-weight: 600
    text-transform: uppercase
    &::before
      content: ''
      width: 22px
      height: 22px
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='11' fill='white'/%3E%3Cpath d='M9.63848 12.2659C8.56944 11.0821 8.32806 9.89833 8.27361 9.42404C8.25839 9.2929 8.29914 9.16138 8.38387 9.06822L9.24898 8.11066C9.37624 7.96982 9.39882 7.75034 9.30344 7.58141L7.92602 5.21297C7.82049 5.02591 7.60381 4.9584 7.42568 5.05708L5.21443 6.2103C5.07039 6.28884 4.98566 6.45832 5.00201 6.63519C5.11788 7.85406 5.59774 10.8503 8.25681 13.7951C10.9159 16.7398 13.6213 17.271 14.7226 17.3993C14.8823 17.4174 15.0353 17.3236 15.1063 17.164L16.1477 14.7154C16.2364 14.5186 16.1759 14.2793 16.0077 14.1622L13.8688 12.6374C13.7164 12.5316 13.5182 12.5564 13.3909 12.6972L12.5262 13.6552C12.442 13.749 12.3233 13.7942 12.2048 13.7773C11.7765 13.717 10.7075 13.4497 9.63848 12.2659V12.2659Z' fill='%234EA42F'/%3E%3Cpath d='M13.8834 11.6289C13.6701 11.6289 13.4972 11.4374 13.4972 11.2012C13.4954 9.43059 12.1996 7.9957 10.6006 7.9937C10.3873 7.9937 10.2144 7.80223 10.2144 7.56603C10.2144 7.32983 10.3873 7.13836 10.6006 7.13836C12.6261 7.14083 14.2674 8.95839 14.2696 11.2012C14.2696 11.4374 14.0967 11.6289 13.8834 11.6289Z' fill='%234EA42F'/%3E%3Cpath d='M15.8145 11.6289C15.6012 11.6289 15.4283 11.4374 15.4283 11.2012C15.4253 8.25014 13.2656 5.85864 10.6006 5.85534C10.3873 5.85534 10.2144 5.66386 10.2144 5.42767C10.2144 5.19147 10.3873 5 10.6006 5C13.6921 5.00377 16.1973 7.77794 16.2007 11.2012C16.2007 11.3146 16.16 11.4234 16.0876 11.5036C16.0152 11.5838 15.9169 11.6289 15.8145 11.6289Z' fill='%234EA42F'/%3E%3C/svg%3E%0A") no-repeat 100%
      border-radius: 50%
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13)


  .header__enter
    width: 190px
    height: 57px
    padding-left: 57px
    position: relative
    display: flex
    align-items: center
    justify-content: center
    gap: 3px
    font-size: 14px
    font-weight: 600
    transition: .3s
    @media (min-width: 768px)
      order: 2
      width: 57px
      color: transparent
      &.open
        width: 190px
        color: #000
        .header__enter__link
          visibility: visible
          opacity: 1
      button
        cursor: pointer
        &:hover
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #9CA2A9
    @media (min-width: 800px)
      font-size: 18px
      &.open
        width: 220px

    button
      width: 57px
      height: 57px
      border-radius: 50%
      position: absolute
      top: 0
      left: 0
      transition: .3s
      mask: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.5 4.75C15.39 4.75 4.75 15.39 4.75 28.5C4.75 41.61 15.39 52.25 28.5 52.25C41.61 52.25 52.25 41.61 52.25 28.5C52.25 15.39 41.61 4.75 28.5 4.75ZM28.5 11.875C32.4425 11.875 35.625 15.0575 35.625 19C35.625 22.9425 32.4425 26.125 28.5 26.125C24.5575 26.125 21.375 22.9425 21.375 19C21.375 15.0575 24.5575 11.875 28.5 11.875ZM28.5 45.6C22.5625 45.6 17.3138 42.56 14.25 37.9525C14.3212 33.2263 23.75 30.6375 28.5 30.6375C33.2262 30.6375 42.6787 33.2263 42.75 37.9525C39.6862 42.56 34.4375 45.6 28.5 45.6Z' fill='%23C2C9D1'/%3E%3Cpath d='M28.5 4.75C15.39 4.75 4.75 15.39 4.75 28.5C4.75 41.61 15.39 52.25 28.5 52.25C41.61 52.25 52.25 41.61 52.25 28.5C52.25 15.39 41.61 4.75 28.5 4.75ZM28.5 11.875C32.4425 11.875 35.625 15.0575 35.625 19C35.625 22.9425 32.4425 26.125 28.5 26.125C24.5575 26.125 21.375 22.9425 21.375 19C21.375 15.0575 24.5575 11.875 28.5 11.875ZM28.5 45.6C22.5625 45.6 17.3138 42.56 14.25 37.9525C14.3212 33.2263 23.75 30.6375 28.5 30.6375C33.2262 30.6375 42.6787 33.2263 42.75 37.9525C39.6862 42.56 34.4375 45.6 28.5 45.6Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E%0A") no-repeat
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #C2C9D1

    &__link
      color: #000
      text-decoration: none
      &:hover
        color: $green !important
      @media (min-width: 768px)
        visibility: hidden
        opacity: 0
      
  .btn-call
    padding: 15px 20px
    background: $green
    color: #fff
    font-size: 16px
    font-weight: bold
    border-radius: 5px
    border: 1px solid $green
    cursor: pointer
    &:hover
      background: transparent
      color: $green
    @media (min-width: 768px)
      order: 1
    @media (min-width: 800px)
      font-size: 20px
  .local
    width: auto
    margin: 0 auto
    @media (min-width: 768px)
      order: 3


.local
  width: auto
  margin: 0 auto
  @media (min-width: 768px)
  details
    width: 43px
    font-size: 15px
    font-weight: 700
    position: relative
    cursor: pointer
    @media (min-width: 768px)
      font-size: 20px
    &[open]
      & > summary::before
        transform: rotate(90deg)
        top: calc(50% - 3px)
        right: 2px
        @media (min-width: 768px)
          right: -5px
    summary
      position: relative
      list-style: none
      &::marker,
      &::-webkit-details-marker
        display: none !important

      &::before
        content: ''
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        border: 5px solid transparent
        border-left: 6px solid #000
        transition: .3s
        @media (min-width: 768px)
          top: calc(50% - 1px)
          right: -5px

    .opt-wrapper
      width: auto
      padding: 10px
      position: absolute
      bottom: -55px
      right: 50%
      transform: translateX(50%)
      background: #fff
      border: 1px solid #bdbdbd
      border-radius: 4px
      display: grid
      grid-auto-flow: column
      gap: 10px
      align-content: center
      justify-content: center
      transition: .3s
      @media ( min-width: 768px )
        right: 0
        transform: none

      button
        padding: 5px 10px
        font-size: 15px
        background: $green
        border: 1px solid $green
        border-radius: 4px
        color: #fff
        &:hover
          background: transparent
          color: $green