main
  position: relative
  overflow: hidden

.popup
  width: 100%
  height: 100%
  padding: 10px
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  left: 0
  z-index: 9999
  visibility: hidden
  .overlay
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    background: rgba(0, 0, 0, 0.15)
    opacity: 0
    visibility: hidden
    transition: visibility 0s linear 0.3s, opacity 0.3s
    z-index: 1
  &.open
    visibility: visible
    .overlay
      opacity: 1
      visibility: visible
      transition-delay: 0s
    .popup__box
      transform: scale(1)
  &__tags
    &__box
      max-width: 485px
  &__box
    width: 100%
    height: auto
    max-width: 485px
    padding: 33px
    transform: scale(0)
    background: #FFFFFF
    border: 1px solid #BDBDBD
    border-radius: 5px
    transition: .3s
    z-index: 2
    overflow: auto
  &__header
    padding-bottom: 30px
    .title
      padding-top: 7px
      padding-left: 22px
      font-size: 30px
      line-height: 1
      &::before
        width: 32px
        height: 32px
        bottom: unset
        top: 0

  .btn
    width: 100%
    height: 55px
    margin: 35px 0 5px
    background: $green
    color: #fff
    border: 1px solid $green
    border-radius: 4px
    display: flex
    align-items: center
    justify-content: center
    font-weight: bold
    font-size: 20px
    &:hover
      background: #fff
      color: $green
    &--transparrent
      width: 100%
      height: 30px
      background: none
      border: none
      font-weight: bold
      font-size: 14px
      color: $green
      display: flex
      align-items: center
      justify-content: center
      gap: 10px
      line-height: 1
      span
        font-size: 34px
        font-weight: 400
        display: flex
        align-items: center
        justify-content: center
      &:hover
        color: $grey
        span
          color: $grey

.tags,
.tags__form
  &__list
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-flow: wrap
    gap: 25px
    li,
    &__item
      padding: 0
      background: none
      border: none
      display: flex
      align-items: baseline
      gap: 20px
      &:hover
        .tags__name
          color: $green
  label,
  .tags__select
    width: auto
    display: grid
    grid-template: 'color title' 'color name'
    justify-content: start
    align-items: center
    column-gap: 15px
    line-height: 1
    position: relative
  input
    display: none

  &__title
    font-weight: bold
    font-size: 10px
    color: $grey
    grid-area: title
    text-align: left
  &__name
    grid-area: name
    font-weight: bold
    font-size: 15px
    transition: .2s
    text-align: left
    align-self: end
  &__color
    width: 32px
    height: 32px
    background: $green
    grid-area: color
    &.red
      background: rgba(234, 67, 53, 1) !important
    &.blue
      background: rgba(24, 119, 242, 1) !important
    &.yellow
      background: rgba(243, 217, 16, 1) !important
  .btns
    grid-area: btns
  .chbx
    position: absolute !important
    top: -6px
    left: 26px

  label
    cursor: pointer
  input[type="checkbox"]
    display: none
    &+.chbx
      width: 12px
      height: 12px
      object-fit: cover
      transition: .2s
      background: $green
      border-radius: 2px
      transform: scale(0)
      &::before
        content: ''
        position: absolute
        top: 0
        left: 2px
        width: 3px
        height: 6px
        transform: rotate(45deg)
        border-right: 1px solid #fff
        border-bottom: 1px solid #fff
      &::after
        display: none
    &:checked
      &+.chbx
        transform: scale(1)
        &+.tags__color + .tags__title + .tags__name
          color: $green

.popup__company-add
  .popup__box
    max-width: 680px

.company-add__form
  width: 100%
  height: auto
  display: grid
  gap: 20px
  align-content: end
  align-items: end
  @media (min-width: 600px)
    grid-auto-flow: row dense
    grid-template-columns: repeat(2, 1fr)
  button[type="submit"]
    margin: 0
    font-size: 14px
    display: flex
    align-items: center
    gap: 12px
    span
      font-size: 27px
      font-weight: 100




.popup__contact-add
  .popup__box
    max-width: 715px

.contact-add__form
  width: 100%
  height: auto
  display: grid
  gap: 20px 60px
  align-content: start
  align-items: start
  @media (min-width: 600px)
    grid-auto-flow: row dense
    grid-template-columns: repeat(2, 1fr)
  button[type="submit"]
    margin: 0
    font-size: 14px
    display: flex
    align-items: center
    gap: 12px
    margin-top: 38px
    span
      font-size: 27px
      font-weight: 100
  .form__col
    &:nth-child(1)
      max-height: 165px


.popup__tags--add
  .popup__box, 
  .popup__tags__box
    max-width: 780px
    background-image: url(../images/dist/tags-bg.png)
    background-repeat: no-repeat
    background-position: center right 33px
  .bg-2
    background-image: url(../images/dist/tags-bg-2.png)
  form
    display: grid
    gap: 20px
    label
      max-width: 290px
    .input__title
      font-weight: 700
    .btn--green
      width: auto
      max-width: 185px
      height: 44px
      padding: 10px
      margin-top: 15px
      font-size: 14px

.tags__select-color
  width: auto
  display: grid
  justify-content: start
  align-items: center
  gap: 8px 15px
  line-height: 1
  position: relative
  input
    display: none
  .tags__list
    gap: 15px
  .tags__color
    width: 32px
    height: 32px
    background: $green
    display: block
    &.red
      background: rgba(234, 67, 53, 1) !important
    &.blue
      background: rgba(24, 119, 242, 1) !important
    &.yellow
      background: rgba(243, 217, 16, 1) !important
  .chbx
    position: absolute !important
    top: -6px
    left: 26px

  label
    cursor: pointer
    position: relative
  input[type="radio"]
    display: none
    &+.chbx
      width: 12px
      height: 12px
      object-fit: cover
      transition: .2s
      background: $green
      border-radius: 2px
      transform: scale(0)
      &::before
        content: ''
        position: absolute
        top: 2px
        left: 4px
        width: 3px
        height: 6px
        transform: rotate(45deg)
        border-right: 1px solid #fff
        border-bottom: 1px solid #fff
      &::after
        display: none
    &:checked
      &+.chbx
        transform: scale(1)
        &+.tags__color + .tags__title + .tags__name
          color: $green

.popup__exit
  display: grid
  align-items: center
  justify-content: center
  .popup__header
    width: auto
    display: flex
    justify-content: center
    .title
      max-width: 300px
      text-align: center
      // font-size: clamp(20px, 2vw, 41px)
  .desc
    width: auto
    margin: 0 0 40px
    font-weight: 600
    font-size: clamp(16px, 1.5vw, 22px)
    text-align: center
  .btns
    display: flex
    flex-flow: wrap
    justify-content: center
    gap: 25px
    .btn--green,
    .btn--white
      min-width: 195px
      min-height: 60px
      padding: 15px
      font-size: clamp(16px, 1.5vw, 18px)