.main__thanks__review
  &+footer
    display: none

.thanks__review
  width: 100%
  height: auto
  display: grid
  align-items: center
  justify-content: center
  .container
    display: grid
    align-content: center
    justify-content: center
    gap: 20px
    text-align: center

  .logo
    margin: 0 auto
    font-size: 38px
    padding-top: 12px
    padding-left: 22px
    &::before
      width: 42px
      height: 42px
      top: 0


  .title
    width: 100%
    max-width: 240px
    margin: 0 auto
    font-weight: 600
    font-size: 14px
    line-height: 16px